@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
    font-family: "Archivo", sans-serif;
    @apply min-h-screen;
}
