@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Archivo", sans-serif;
    margin: 0;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
}

@theme {
    --font-archivo: "Archivo", sans-serif;
    --font-outfit: "Outfit", sans-serif;
}
